/* Administrative specific styles for mrb_social_links settings form */

#mtools-node-content-hide-form {
  margin: 0px;
  padding: 0px;
}

#mtools-node-content-hide-form .form-item {
  padding: 0px;
  margin: 5px 0px 10px 20px;
}

#mtools-node-content-hide-form .form-type-textfield {
  margin-left: 40px;
  margin-top: -10px;
}

#mtools-node-content-hide-form .form-type-textfield label {
  display: none;
}

.mtools-dividing-line {
  border-bottom: 1px solid #000000;
  width: 50%;
}